.logoDiv {
  width: 180px;
  float: left;
  max-height: 30px;
}
.navbarLinks {
  float: right;
}

.languageDiv {
  padding-right: 15px;
}

.languageDiv small{
  color: white;
}

.logoImg {
  margin-top: -8px;
}

.fotawesomeGlobe {
  color: white;
}
