/* .headerDiv {
  width: 80%;
  max-height: 50px;
  background-color: lightgrey;
  padding-left: 5px;
  position: fixed;
  padding-bottom: 5px;
  padding-top: 0px;
}

.logoDiv {
  width: 180px;
  float: left;
}

.navbarLinks {
  float: right;
}

.usernameDiv {
  padding: 10px;
  margin-bottom: 10px;
}

.logoImg {
  margin-top: -5px;
} */
